[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/hugo-profileclear"]
	path = themes/hugo-profileclear
	url = https://github.com/gurusabarish/hugo-profile.git
